<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js" charset="utf-8"></script>
    <script src="http://livejs.com/live.js"></script>
    <script src="app.js"></script>
  </head>
  <!--______________________________________________________BEGIN APP-->
  <body>
    <h1>Edit your task</h1>
    <form method="post" action = "/update/{{todo._id}}">
    <input type="text" name = "updated_task">
    <button type="submit"><strong>Edit task</strong></button>
    </form>
  </body>
  <!--______________________________________________________END APP-->
</html>